{% extends "blog/layout.html" %}
{% block content %}

<h2>{{ title }}</h2>
<h4>{{ message }}</h4>


	<div class="gallery">
		<div><img src="../../static/blog/images/demo/001.JPG"/></div>
		<div><img src="../../static/blog/images/demo/002.JPG"/></div>
		<div><img src="../../static/blog/images/demo/004.JPG"/></div>
		<div><img src="../../static/blog/images/demo/005.JPG"/></div>
		<div><img src="../../static/blog/images/demo/006.JPG"/></div>
		<div><img src="../../static/blog/images/demo/007.JPG"/></div>
		<div><img src="../../static/blog/images/demo/008.JPG"/></div>
		<div><img src="../../static/blog/images/demo/009.JPG"/></div>
		<div><img src="../../static/blog/images/demo/010.JPG"/></div>
		<div><img src="../../static/blog/images/demo/011.JPG"/></div>
		<div><img src="../../static/blog/images/demo/012.JPG"/></div>
		<div><img src="../../static/blog/images/demo/013.JPG"/></div>
		<div><img src="../../static/blog/images/demo/014.JPG"/></div>
		<div><img src="../../static/blog/images/demo/015.JPG"/></div>
		<div><img src="../../static/blog/images/demo/016.JPG"/></div>
		<div><img src="../../static/blog/images/demo/017.JPG"/></div>
		<div><img src="../../static/blog/images/demo/018.JPG"/></div>
		<div><img src="../../static/blog/images/demo/019.JPG"/></div>
		<div><img src="../../static/blog/images/demo/020.JPG"/></div>
	</div>

{% endblock %}