{% extends "blog/layout.html" %}
{% block content %}

<h2>{{ title }}</h2>
<h4>{{ message }}</h4>


	<div class="gallery">
		<div><img src="../../static/blog/images/demo/001.jpg"/></div>
		<div><img src="../../static/blog/images/demo/002.jpg"/></div>
		<div><img src="../../static/blog/images/demo/004.jpg"/></div>
		<div><img src="../../static/blog/images/demo/005.jpg"/></div>
		<div><img src="../../static/blog/images/demo/006.jpg"/></div>
		<div><img src="../../static/blog/images/demo/007.jpg"/></div>
		<div><img src="../../static/blog/images/demo/008.jpg"/></div>
		<div><img src="../../static/blog/images/demo/009.jpg"/></div>
		<div><img src="../../static/blog/images/demo/010.jpg"/></div>
		<div><img src="../../static/blog/images/demo/011.jpg"/></div>
		<div><img src="../../static/blog/images/demo/012.jpg"/></div>
		<div><img src="../../static/blog/images/demo/013.jpg"/></div>
		<div><img src="../../static/blog/images/demo/014.jpg"/></div>
		<div><img src="../../static/blog/images/demo/015.jpg"/></div>
		<div><img src="../../static/blog/images/demo/016.jpg"/></div>
		<div><img src="../../static/blog/images/demo/017.jpg"/></div>
		<div><img src="../../static/blog/images/demo/018.jpg"/></div>
		<div><img src="../../static/blog/images/demo/019.jpg"/></div>
		<div><img src="../../static/blog/images/demo/020.jpg"/></div>
	</div>

{% endblock %}