{% extends "blog/layout.html" %}
{% block content %}


<div class="col-md-12">
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% endif %}
		<h1>{{ post.title }}</h1>
		<p>{{ post.text|linebreaks }}</p>
	</div>
</div>



<div class="comments">
	{% if user.is_authenticated %}
		<h4>Hello {{ user.username }}, leave a comment</h4>
	{% else %}
		<h4><a href="{% url 'login' %}">Login</a> to leave a comment</h4>
	{% endif %}
	{% if comments %}
		<h4>Comments:</h4>
		<div class="row">
		{% for comment in comments %}
			<div class="date">@{{ comment.created_date }} {{ comment.author }} said...</div>
			<div class="body">{{ comment.text|linebreaks }}</div>
		{% endfor %}
		</div>
</div>
	{% else %}
		<h4>There are no comments</h4>
	{% endif %}

<br />

<h4><a href="/">Back to main page</a></h4>

{% endblock %}