{% extends "blog/layout.html" %}

{% block content %}
<h2>Register/注册</h2>
<div class="row">
	<div class="col-md-8">
		<h4>Setup an account/建立账号</h4>
		<hr />
		<section id="registerForm">
			<form method="POST" action="register" class="form-horizontal">
				{% csrf_token %}
				<div class="form-group">
					<label for="id_username" class="col-md-2 control-label">Username/用户名</label>
					<div class="col-md-10">
						{{ form.username }}
					</div>
				</div>
                <div class="form-group">
					<label for="id_name" class="col-md-2 control-label">English Name/英文名字</label>
					<div class="col-md-10">
						<input type="text" name="name">
					</div>
				</div>
                <div class="form-group">
					<label for="id_name_international" class="col-md-2 control-label">Chinese name/中文名字</label>
					<div class="col-md-10">
						<input type="text" name="name_international">
					</div>
				</div>
				<div class="form-group">
					<label for="id_gender" class="col-md-2 control-label">Gender/性别</label>
					<div class="col-md-10">
						<label for="id_gender_0"><input id="id_gender_0" name="gender" type="radio" value="M" />Male/男</label>
						<label for="id_gender_1"><input id="id_gender_1" name="gender" type="radio" value="F" />Female/女</label>
					</div>
				</div>
				<div class="form-group">
					<label for="id_email" class="col-md-2 control-label">Email/邮箱地址</label>
					<div class="col-md-10">
						{{ form.email }}
					</div>
				</div>
				
				<div class="form-group">
					<label for="id_password1" class="col-md-2 control-label">Password/密码</label>
					<div class="col-md-10">
						{{ form.password1 }}
					</div>
				</div>
				<div class="form-group">
					<label for="id_password2" class="col-md-2 control-label">Password again/再次输入密码</label>
					<div class="col-md-10">
						{{ form.password2 }}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Register/注册" class="btn btn-primary btn-large" />
					</div>
				</div>
				{% if form.errors %}
                <p class="validation-summary-errors">Please enter a valid user name and password.</p>
				{% endif %}
			</form>
		</section>
	</div>	
</div>
{% endblock %}

{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}